<!DOCTYPE html>
<html ng-app="game">
<head>
	<title>Oppose Me</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="game.css">
</head>
<body ng-controller="GameController">
	<center>
		<h3 ng-if="scoreboard">Score: {{score}}</h3>
		<h3 ng-if="loss">Game Over!</h3>
		<button id="btn" ng-if="!started" ng-click="start()">Start</button>
	</center>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="game.js"></script>	
	<div class="inner">
	    <table class="board" border=1 bordercolor="white">
	        <tr ng-repeat="row in board.rows">
	            <td ng-repeat="spot in row.spots" ng-click='go(spot)'>
				    <img ng-if="spot.content=='empty'" src="plain.jpg" height="60" width="60">
				    <img ng-if="spot.content=='good'" src="good.jpg" height="60" width="60">
				    <img ng-if="spot.content=='bad'" src="bad.jpg" height="60" width="60">
				</td>
	        </tr>
	    </table>
    </div>
</body>
</html>
