.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#btn{
	margin-top: 25px;
}


